
.container {
padding: 20px;
width: 500px;
height: 500px;;
margin: 0 auto;
margin-top: 40px;
background: greenyellow;
border-radius: 5px;}

.container2 {
  padding: 20px;
  width: 400px;
  height: 400px;;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;}


form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:palevioletred;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{cursor: pointer;}


 ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

 ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}